/*

Add styles or override variables from the theme here.

*/

$primary: #006783;

$google_font_name: "Roboto";
$google_font_family: "Roboto:300,300i,400,400i,500,700,700i";
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=block";

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,900&display=block);

header nav {
  font-family: "Roboto Slab";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

h1 {
  font-family: "Roboto Slab";
  font-optical-sizing: auto;
  font-weight: 900;
}

h2 {
  font-family: "Roboto Slab";
  font-optical-sizing: auto;
  font-weight: 700;
}

.td-page-meta__lastmod {
  font-size: 11px;
}

.td-content {
  code {
    background-color: rgba(204, 225, 230, 0.5) !important;
  }
}

.td-cover-block {
  h1 {
    font-size: 64px;
    font-weight: 700;

    light {
      font-size: 48px;
      font-weight: 400;
      font-family: "Roboto";
    }

    margin-bottom: 5rem;
  }
}

.h2k-device-screen {
  background: #000;
  border: 6px solid #000;
  padding: 6px;
  border-radius: 6px;
}

.h2k-float-right {
  float: right;
  margin-left: 20px;
}

section.td-cover-block {
  // Lighten the background image using an overlay
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.35); // white overlay for lightening
    pointer-events: none;
    z-index: 0;
  }

  // Ensure content is above overlay
  >* {
    position: relative;
    z-index: 1;
  }
}
